[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
marshmallow = ">=3.5"
pygitguardian = {editable = true, path = "."}
requests = ">=2"

[dev-packages]
black = "==21.5b1"
coverage = "*"
flake8 = "*"
flake8-isort = "*"
ipython = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
vcrpy = "*"
