[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
pygitguardian = { editable = true, path = "." }

[dev-packages]
black = "==22.3.0"
coverage = "*"
flake8 = "*"
flake8-isort = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
vcrpy = "*"
urllib3 = "<2" # pin until https://github.com/kevin1024/vcrpy/issues/688 is fixed
mypy = "==0.961"
types-requests = "*"
scriv = { version = "*", extras = ["toml"] }
