[tool.black]
target-version = ['py39']
line-length = 88

[tool.isort]
profile = "black"
lines_after_imports = 2

[tool.mypy]
python_version = "3.9"
warn_return_any = true
check_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
follow_imports = "silent"
ignore_missing_imports = true
no_implicit_optional = true
strict_equality = true
strict_optional = true
warn_incomplete_stub = true
warn_redundant_casts = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = ["tests.*", "examples.*"]
ignore_errors = true

[tool.scriv]
version = "literal: pygitguardian/__init__.py: __version__"
format = "md"
md_header_level = "2"
insert_marker = "# Changelog"
