interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/secret_detectors/1password_service_account_token
    response:
      body:
        string: '{"name":"1password_service_account_token","display_name":"1Password
          Service Account Token","is_active":true,"type":"specific","category":"other","checkable":false,"frequency":0.02,"use_with_validity_check_disabled":true,"scans_code_only":false,"removed_at":null,"open_incidents_count":0,"ignored_incidents_count":0,"resolved_incidents_count":0}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.185.0
        x-secrets-engine-version:
          - 2.135.3
      status:
        code: 200
        message: OK
version: 1
