interactions:
  - request:
      body: '{"document": "Hello World"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/scan
    response:
      body:
        string:
          '{"policy_break_count":0,"policies":["File extensions","Filenames","Secrets
          detection"],"policy_breaks":[]}'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - v2.7.5
        X-Secrets-Engine-Version:
          - 2.69.0
      status:
        code: 200
        message: OK
version: 1
