interactions:
  - request:
      body: '{"document": "normal", "filename": ".env"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/scan
    response:
      body:
        string: '{"policy_break_count":1,"policies":["Secrets detection","File extensions","Filenames"],"policy_breaks":[{"type":".env","policy":"Filenames","matches":[{"type":"filename","match":".env"}]}]}'
      headers:
        Allow:
          - OPTIONS, POST
        Content-Type:
          - application/json
        X-App-Version:
          - 1.26.0-rc.4
        X-Secrets-Engine-Version:
          - 2.43.0
      status:
        code: 200
        message: OK
  - request:
      body: '{"document": "normal", "filename": ".env"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/scan
    response:
      body:
        string: '{"policy_break_count":1,"policies":["Secrets detection","File extensions","Filenames"],"policy_breaks":[{"type":".env","policy":"Filenames","matches":[{"type":"filename","match":".env"}]}]}'
      headers:
        Allow:
          - OPTIONS, POST
        Content-Type:
          - application/json
        X-App-Version:
          - 1.26.0-rc.4
        X-Secrets-Engine-Version:
          - 2.43.0
      status:
        code: 200
        message: OK
version: 1
