interactions:
  - request:
      body:
        '[{"document": "valid"}, {"document": "valid"}, {"document": "valid"}, {"document":
        "valid"}, {"document": "valid"}, {"document": "valid"}, {"document": "valid"},
        {"document": "valid"}, {"document": "valid"}, {"document": "valid"}, {"document":
        "valid"}, {"document": "valid"}, {"document": "valid"}, {"document": "valid"},
        {"document": "valid"}, {"document": "valid"}, {"document": "valid"}, {"document":
        "valid"}, {"document": "valid"}, {"document": "valid"}]'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan?ignore_known_secrets=True
    response:
      body:
        string:
          '[{"policy_break_count":0,"policies":["File extensions","Filenames","Secrets
          detection"],"policy_breaks":[]},{"policy_break_count":0,"policies":["File
          extensions","Filenames","Secrets detection"],"policy_breaks":[]},{"policy_break_count":0,"policies":["File
          extensions","Filenames","Secrets detection"],"policy_breaks":[]},{"policy_break_count":0,"policies":["File
          extensions","Filenames","Secrets detection"],"policy_breaks":[]},{"policy_break_count":0,"policies":["File
          extensions","Filenames","Secrets detection"],"policy_breaks":[]},{"policy_break_count":0,"pol[...]
