interactions:
  - request:
      body:
        '[{"document": "valid"}, {"document": "valid"}, {"document": "valid"}, {"document":
        "valid"}, {"document": "valid"}, {"document": "valid"}, {"document": "valid"},
        {"document": "valid"}, {"document": "valid"}, {"document": "valid"}, {"document":
        "valid"}, {"document": "valid"}, {"document": "valid"}, {"document": "valid"},
        {"document": "valid"}, {"document": "valid"}, {"document": "valid"}, {"document":
        "valid"}, {"document": "valid"}, {"document": "valid"}]'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan
    response:
      body:
        string:
          '[{"policy_break_count":0,"policies":["Secrets detection","File extensions","Filenames"],"policy_breaks":[]},{"policy_break_count":0,"policies":["Secrets
          detection","File extensions","Filenames"],"policy_breaks":[]},{"policy_break_count":0,"policies":["Secrets
          detection","File extensions","Filenames"],"policy_breaks":[]},{"policy_break_count":0,"policies":["Secrets
          detection","File extensions","Filenames"],"policy_breaks":[]},{"policy_break_count":0,"policies":["Secrets
          detection","File extensions","Filenames"],"policy_breaks":[]},{"policy_break_count":0,"pol[...]
[...]
