interactions:
  - request:
      body:
        '{"document": "\n    import urllib.request\n    url = ''http://jen_barber:correcthorsebatterystaple@cake.gitguardian.com/isreal.json''\n    response
        = urllib.request.urlopen(url)\n    consume(response.read())\"\n"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/scan
    response:
      body:
        string:
          '{"policy_break_count":1,"policies":["File extensions","Filenames","Secrets
          detection"],"policy_breaks":[{"type":"Basic Auth String","policy":"Secrets
          detection","matches":[{"type":"username","match":"jen_barber","index_start":40,"index_end":49,"line_start":2,"line_end":2},{"type":"password","match":"correcthorsebatterystaple","index_start":51,"index_end":75,"line_start":2,"line_end":2},{"type":"host","match":"cake.gitguardian.com","index_start":77,"index_end":96,"line_start":2,"line_end":2}],"validity":"no_checker"}]}'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - v2.8.1
        X-Secrets-Engine-Version:
          - 2.70.0
      status:
        code: 200
        message: OK
version: 1
