interactions:
  - request:
      body: '{"email": "owl@example.com", "access_level": "member"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/invitations?send_email=False
    response:
      body:
        string: '{"id":2,"date":"2024-12-06T13:35:36.737833Z","email":"owl@example.com","role":"member","access_level":"member"}'
      headers:
        Allow:
          - GET, POST, HEAD, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - dev
        X-SCA-Engine-Version:
          - 2.2.0
        X-Secrets-Engine-Version:
          - 2.127.0
      status:
        code: 201
        message: Created
version: 1
