interactions:
  - request:
      body: '{"user": {"hostname": "toto-laptop", "username": "toto", "machine_id":
        "1234567890", "user_email": "toto@gitguardian.com"}, "tool": "Write", "agent":
        "claude", "cwd": "/home/user/project", "secret_count": 2, "detectors": ["AWS
        Keys", "GitHub Token"]}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/agent-activity/secret-block
    response:
      body:
        string: ''
      headers:
        Allow:
          - POST, OPTIONS
        X-App-Version:
          - dev
      status:
        code: 204
        message: No Content
    version: 1
