interactions:
  - request:
      body: '{"access_level": "member", "active": false}'
      headers:
        Content-Type:
          - application/json
      method: PATCH
      uri: https://api.gitguardian.com/v1/members/10
    response:
      body:
        string: '{"id":10,"role":"member","access_level":"member","email":"owl@gg.com","name":"owl","created_at":"2024-12-05T15:02:15.901868Z","last_login":null,"active":false}'
      headers:
        Allow:
          - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - dev
        X-SCA-Engine-Version:
          - 2.2.0
        X-Secrets-Engine-Version:
          - 2.127.0
      status:
        code: 200
        message: OK
version: 1
