interactions:
  - request:
      body: '{"name": "PyGitGuardian team", "description": ""}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/teams
    response:
      body:
        string: '{"id":21,"is_global":false,"name":"PyGitGuardian team","description":"","gitguardian_url":"http://localhost:3000/workspace/6/settings/user/teams/21"}'
      headers:
        Allow:
          - GET, POST, HEAD, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - dev
        X-SCA-Engine-Version:
          - 2.2.0
        X-Secrets-Engine-Version:
          - 2.127.0
      status:
        code: 201
        message: Created
version: 1
