interactions:
  - request:
      body: '{"name": "team1", "description": ""}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/teams
    response:
      body:
        string: '{"id":8,"is_global":false,"name":"team1","description":"","gitguardian_url":"https://dashboard.gitguardian.com/workspace/6/settings/user/teams/8"}'
      headers:
        Allow:
          - GET, POST, HEAD, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - dev
        X-SCA-Engine-Version:
          - 2.2.0
        X-Secrets-Engine-Version:
          - 2.127.0
      status:
        code: 201
        message: Created
version: 1
