interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/invitations
    response:
      body:
        string: '[{"id":1,"date":"2024-12-05T17:35:12.273332Z","email":"toto+test@gg.com","role":"member","access_level":"member"}]'
      headers:
        Allow:
          - GET, POST, HEAD, OPTIONS
        Content-Type:
          - application/json
        Link:
          - ''
        X-App-Version:
          - dev
        X-Per-Page:
          - '20'
        X-SCA-Engine-Version:
          - 2.2.0
        X-Secrets-Engine-Version:
          - 2.127.0
      status:
        code: 200
        message: OK
version: 1
