interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gitguardian.com/v1/members?search=qa-team-testing%2Bgglibraries-&cursor=&per_page=20&access_level=manager
  response:
    body:
      string: '[{"id":1884193,"role":"manager","access_level":"manager","email":"qa-team-testing+gglibraries-manager@gitguardian.com","name":"GGLibraries
        Fixture Manager","created_at":"2026-09-22T11:51:30.144402Z","last_login":null,"active":true}]'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, HEAD, OPTIONS
      link:
      - ''
      x-app-version:
      - v2.657.0
      x-per-page:
      - '20'
      x-secrets-engine-version:
      - 2.172.0
    status:
      code: 200
      message: OK
- request:
    body: '{"access_level": "member", "active": false}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.gitguardian.com/v1/members/1884193
  response:
    body:
      string: '{"id":1884193,"role":"member","access_level":"member","email":"qa-team-testing+gglibraries-manager@gitguardian.com","name":"GGLibraries
        Fixture Manager","created_at":"2026-09-22T11:51:30.144402Z","last_login":null,"active":false,"notifications":{"issue_note_mention":true,"historical_scan_completion":true,"private_issue_realtime":true,"private_issue_access":true,"private_issue_feedback_submitted":true,"private_issue_ignored_with_valid_secret":true,"pii_incident_realtime":true,"team_updates":true,"health_checks":true,"honey_token":true,"public_explore_scan_completion":true,"public_historical_scan_completion":true,"public_secret_issue_realtime":true,"public_secret_issue_feedback_submitted":true,"public_secret_issue_access":true,"weekly_recap":true}}'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      x-app-version:
      - v2.657.0
      x-secrets-engine-version:
      - 2.172.0
    status:
      code: 200
      message: OK
version: 1
