interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/teams
    response:
      body:
        string:
          '[{"id":6,"is_global":true,"name":"All incidents","description":null,"gitguardian_url":"https://dashboard.gitguardian.com/workspace/6/settings/user/teams/6"},{"id":8,"is_global":false,"name":"team1","description":"New
          description","gitguardian_url":"https://dashboard.gitguardian.com/workspace/6/settings/user/teams/8"}]'
      headers:
        Allow:
          - GET, POST, HEAD, OPTIONS
        Content-Type:
          - application/json
        Link:
          - ''
        X-App-Version:
          - dev
        X-Per-Page:
          - '20'
        X-SCA-Engine-Version:
          - 2.2.0
        X-Secrets-Engine-Version:
          - 2.127.0
      status:
        code: 200
        message: OK
version: 1
