interactions:
  - request:
      body: '{"user": {"hostname": "toto-laptop", "username": "toto", "machine_id":
        "1234567890", "user_email": "toto@gitguardian.com"}, "tool": "toto", "server":
        "https://mcp-server-1.com", "agent": "cursor", "model": "composer-2", "cwd":
        "/home/user/project", "input": {"foo": "bar"}}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/agent-activity/mcp-activity
    response:
      body:
        string: '{"allowed":true,"reason":""}'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - dev
        X-Secrets-Engine-Version:
          - 2.161.0
      status:
        code: 200
        message: OK
version: 1
