interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/teams?cursor=&per_page=20&is_global=False
    response:
      body:
        string:
          '[{"id":799237,"is_global":false,"name":"PyGitGuardian Team 1","description":"","gitguardian_url":"https://dashboard.gitguardian.com/workspace/628984/settings/user/teams/799237"},{"id":799238,"is_global":false,"name":"PyGitGuardian
          team","description":"","gitguardian_url":"https://dashboard.gitguardian.com/workspace/628984/settings/user/teams/799238"}]'
      headers:
        allow:
          - GET, POST, HEAD, OPTIONS
        content-type:
          - application/json
        link:
          - ''
        x-app-version:
          - v2.133.1
        x-per-page:
          - '20'
        x-secrets-engine-version:
          - 2.129.1
      status:
        code: 200
        message: OK
  - request:
      body:
        '{"email": "pygitguardian+create_team_invitation@example.com", "access_level":
        "member"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/invitations
    response:
      body:
        string: '{"id":25184,"date":"2025-01-09T12:32:17.009583Z","email":"pygitguardian+create_team_invitation@example.com","role":"member","access_level":"member"}'
      headers:
        allow:
          - GET, POST, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.133.1
        x-secrets-engine-version:
          - 2.129.1
      status:
        code: 201
        message: Created
  - request:
      body: '{"invitation_id": 25184, "is_team_leader": true, "incident_permission":
        "can_view"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/teams/799237/team_invitations
    response:
      body:
        string: '{"id":52456,"team_id":799237,"invitation_id":25184,"is_team_leader":true,"team_permission":"can_manage","incident_permission":"can_view"}'
      headers:
        allow:
          - GET, POST, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.133.1
        x-secrets-engine-version:
          - 2.129.1
      status:
        code: 201
        message: Created
version: 1
