interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/teams?is_global=False
    response:
      body:
        string:
          '[{"id":18,"is_global":false,"name":"Another test","description":"","gitguardian_url":"http://localhost:3000/workspace/6/settings/user/teams/18"},{"id":19,"is_global":false,"name":"This
          is a test","description":"","gitguardian_url":"http://localhost:3000/workspace/6/settings/user/teams/19"},{"id":20,"is_global":false,"name":"Team
          test","description":"","gitguardian_url":"http://localhost:3000/workspace/6/settings/user/teams/20"},{"id":21,"is_global":false,"name":"PyGitGuardian
          team","description":"","gitguardian_url":"http://localhost:3000/workspace/6/settings/user/teams/21"}]'
      headers:
        Allow:
          - GET, POST, HEAD, OPTIONS
        Content-Type:
          - application/json
        Link:
          - ''
        X-App-Version:
          - dev
        X-Per-Page:
          - '20'
        X-SCA-Engine-Version:
          - 2.2.0
        X-Secrets-Engine-Version:
          - 2.127.0
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/teams/18
    response:
      body:
        string: '{"id":18,"is_global":false,"name":"Another test","description":"","gitguardian_url":"http://localhost:3000/workspace/6/settings/user/teams/18"}'
      headers:
        Allow:
          - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - dev
        X-SCA-Engine-Version:
          - 2.2.0
        X-Secrets-Engine-Version:
          - 2.127.0
      status:
        code: 200
        message: OK
version: 1
