interactions:
  - request:
      body: '{"member_id": 12, "is_team_leader": false, "incident_permission": "can_view"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/teams/9/team_memberships?send_email=False
    response:
      body:
        string: '{"id":11,"team_id":9,"member_id":12,"is_team_leader":false,"team_permission":"cannot_manage","incident_permission":"can_view"}'
      headers:
        Allow:
          - GET, POST, HEAD, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - dev
        X-SCA-Engine-Version:
          - 2.2.0
        X-Secrets-Engine-Version:
          - 2.127.0
      status:
        code: 201
        message: Created
version: 1
