interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/members
    response:
      body:
        string:
          '[{"id":919565,"role":"owner","access_level":"owner","email":"pierre.lalanne@gitguardian.com","name":"Pierre
          Lalanne","created_at":"2025-01-06T14:10:44.775142Z","last_login":"2025-01-07T10:59:01.555170Z","active":true},{"id":921540,"role":"member","access_level":"member","email":"yanne.bensafia+member2@gitguardian.com","name":"Yanne
          Member 2 Bensafia","created_at":"2025-01-09T10:55:49.787320Z","last_login":"2025-01-09T10:55:49.836530Z","active":true},{"id":921547,"role":"member","access_level":"member","email":"yanne.bensafia@gitguardian.com","name":"Yanne
          Bensafia","created_at":"2025-01-09T11:04:35.239421Z","last_login":"2025-01-09T10:55:59.096742Z","active":true}]'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        link:
          - ''
        x-app-version:
          - v2.133.1
        x-per-page:
          - '20'
        x-secrets-engine-version:
          - 2.129.1
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/teams?cursor=&per_page=20&is_global=False
    response:
      body:
        string:
          '[{"id":799237,"is_global":false,"name":"PyGitGuardian Team 1","description":"","gitguardian_url":"https://dashboard.gitguardian.com/workspace/628984/settings/user/teams/799237"},{"id":799238,"is_global":false,"name":"PyGitGuardian
          team","description":"","gitguardian_url":"https://dashboard.gitguardian.com/workspace/628984/settings/user/teams/799238"}]'
      headers:
        allow:
          - GET, POST, HEAD, OPTIONS
        content-type:
          - application/json
        link:
          - ''
        x-app-version:
          - v2.133.1
        x-per-page:
          - '20'
        x-secrets-engine-version:
          - 2.129.1
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/teams/799237/team_memberships
    response:
      body:
        string: '[{"id":830609,"team_id":799237,"member_id":919565,"is_team_leader":true,"team_permission":"can_manage","incident_permission":"full_access"},{"id":830610,"team_id":799237,"member_id":921547,"is_team_leader":false,"team_permission":"cannot_manage","incident_permission":"can_view"}]'
      headers:
        allow:
          - GET, POST, HEAD, OPTIONS
        content-type:
          - application/json
        link:
          - ''
        x-app-version:
          - v2.133.1
        x-per-page:
          - '20'
        x-secrets-engine-version:
          - 2.129.1
      status:
        code: 200
        message: OK
  - request:
      body: '{"member_id": 921540, "is_team_leader": false, "incident_permission": "full_access"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/teams/799237/team_memberships
    response:
      body:
        string: '{"id":830621,"team_id":799237,"member_id":921540,"is_team_leader":false,"team_permission":"cannot_manage","incident_permission":"full_access"}'
      headers:
        allow:
          - GET, POST, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.133.1
        x-secrets-engine-version:
          - 2.129.1
      status:
        code: 201
        message: Created
version: 1
