interactions:
  - request:
      body: '{"activities": [{"user": {"hostname": "h", "username": "u", "machine_id":
        "m", "user_email": null}, "tool": "t", "server": "s", "agent": "claude-code",
        "model": "m", "cwd": "/tmp", "input": {}, "timestamp": "2026-04-01T09:00:00+00:00"},
        {"user": {"hostname": "h", "username": "u", "machine_id": "m", "user_email":
        null}, "tool": "t", "server": "s", "agent": "claude-code", "model": "m",
        "cwd": "/tmp", "input": {}, "timestamp": "2026-04-01T09:00:00+00:00"}]}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/agent-activity/mcp-activity/bulk
    response:
      body:
        string: '{"ingested": 2, "duplicates": 0, "skipped": 0}'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
