interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/token
    response:
      body:
        string: '{"type":"personal_access_token","account_id":17,"name":"My Token","scope":["scan"],"expire_at":"2022-04-18T00:00:00Z"}'
      headers:
        Allow:
          - GET, HEAD, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - 1a3fecc5
        X-Secrets-Engine-Version:
          - 2.64.0
      status:
        code: 200
        message: OK
version: 1
