interactions:
  - request:
      body: '{"user": {"hostname": "toto-laptop", "username": "toto", "machine_id":
        "pygitguardian-bulk-machine", "user_email": "toto@gitguardian.com"}, "discovery_duration":
        0.5, "servers": [{"name": "mcp-server-bulk", "display_name": null, "tools":
        [], "resources": [], "prompts": [], "configurations": [{"name": "mcp-configuration-bulk",
        "agent": "claude-code", "scope": "user", "transport": "http", "project": null,
        "command": null, "args": [], "env": {}, "url": "https://mcp-server-bulk.com",
        "headers": {}}]}], "agents": [{"name": "claude-code", "hooks_installed": true,
        "hooks_command": "ggshield hooks install claude-code", "subscription_email":
        null}]}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/agent-activity/discovery
    response:
      body:
        string:
          '{"user":{"hostname":"toto-laptop","username":"toto","machine_id":"pygitguardian-bulk-machine","user_email":"toto@gitguardian.com"},"agents":[{"name":"claude-code","hooks_installed":true,"hooks_command":"ggshield
          hooks install claude-code","subscription_email":null}],"servers":[{"name":"https://mcp-server-bulk.com","display_name":"","tools":[],"resources":[],"prompts":[],"configurations":[{"name":"mcp-configuration-bulk","agent":"claude-code","scope":"user","transport":"http","project":null,"command":null,"args":[],"env":{},"url":"https://mcp-server-bulk.com","headers":{}}]}],"discovery_duration":0.5}'
      headers:
        Content-Type:
          - application/json
        allow:
          - POST, OPTIONS
        x-app-version:
          - v2.657.0
        x-secrets-engine-version:
          - 2.172.0
      status:
        code: 200
        message: OK
  - request:
      body: '{"activities": [{"user": {"hostname": "toto-laptop", "username": "toto",
        "machine_id": "pygitguardian-bulk-machine", "user_email": null}, "tool": "read_file",
        "server": "https://mcp-server-bulk.com", "agent": "claude-code", "model": "m",
        "cwd": "/tmp", "input": {}, "timestamp": "2026-09-22T12:48:14.830298+00:00"},
        {"user": {"hostname": "toto-laptop", "username": "toto", "machine_id": "pygitguardian-bulk-machine",
        "user_email": null}, "tool": "write_file", "server": "https://mcp-server-bulk.com",
        "agent": "claude-code", "model": "m", "cwd": "/tmp", "input": {}, "timestamp":
        "2026-09-22T12:48:14.830298+00:00"}]}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/agent-activity/mcp-activity/bulk
    response:
      body:
        string: '{"ingested":2,"duplicates":0,"skipped":0}'
      headers:
        Content-Type:
          - application/json
        allow:
          - POST, OPTIONS
        x-app-version:
          - v2.657.0
        x-secrets-engine-version:
          - 2.172.0
      status:
        code: 200
        message: OK
version: 1
