interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/teams/8
    response:
      body:
        string: '{"id":8,"is_global":false,"name":"team1","description":"New description","gitguardian_url":"https://dashboard.gitguardian.com/workspace/6/settings/user/teams/8"}'
      headers:
        Allow:
          - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - dev
        X-SCA-Engine-Version:
          - 2.2.0
        X-Secrets-Engine-Version:
          - 2.127.0
      status:
        code: 200
        message: OK
version: 1
