interactions:
  - request:
      body: '{"invitation_id": 1, "is_team_leader": true, "incident_permission": "can_view"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/teams/9/team_invitations
    response:
      body:
        string: '{"id":1,"team_id":9,"invitation_id":1,"is_team_leader":true,"team_permission":"can_manage","incident_permission":"can_view"}'
      headers:
        Allow:
          - GET, POST, HEAD, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - dev
        X-SCA-Engine-Version:
          - 2.2.0
        X-Secrets-Engine-Version:
          - 2.127.0
      status:
        code: 201
        message: Created
version: 1
