interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/members?search=qa-team-testing%2Bgglibraries-&cursor=&per_page=20
    response:
      body:
        string:
          '[{"id":1884193,"role":"member","access_level":"member","email":"qa-team-testing+gglibraries-manager@gitguardian.com","name":"GGLibraries
          Fixture Manager","created_at":"2026-09-22T11:51:30.144402Z","last_login":null,"active":false},{"id":1884194,"role":"member","access_level":"member","email":"qa-team-testing+gglibraries-member1@gitguardian.com","name":"GGLibraries
          Fixture Member","created_at":"2026-09-22T11:51:30.195673Z","last_login":null,"active":true},{"id":1884195,"role":"member","access_level":"member","email":"qa-team-testing+gglibraries-member2@gitguardian.com","name":"GGLibraries
          Fixture Member","created_at":"2026-09-22T11:51:30.288651Z","last_login":null,"active":true},{"id":1884196,"role":"member","access_level":"member","email":"qa-team-testing+gglibraries-member3@gitguardian.com","name":"GGLibraries
          Fixture Member","created_at":"2026-09-22T11:51:30.333202Z","last_login":null,"active":true}]'
      headers:
        Content-Type:
          - application/json
        allow:
          - GET, HEAD, OPTIONS
        link:
          - ''
        x-app-version:
          - v2.657.0
        x-per-page:
          - '20'
        x-secrets-engine-version:
          - 2.172.0
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/teams?cursor=&per_page=20&is_global=False
    response:
      body:
        string:
          '[{"id":1119853,"is_global":false,"name":"PyGitGuardian Team 1","description":"","gitguardian_url":"https://dashboard.gitguardian.com/workspace/628984/settings/user/teams/1119853","external_provider_id":null,"external_provider_type":null},{"id":1119854,"is_global":false,"name":"PyGitGuardian
          team","description":"","gitguardian_url":"https://dashboard.gitguardian.com/workspace/628984/settings/user/teams/1119854","external_provider_id":null,"external_provider_type":null}]'
      headers:
        Content-Type:
          - application/json
        allow:
          - GET, POST, HEAD, OPTIONS
        link:
          - ''
        x-app-version:
          - v2.657.0
        x-per-page:
          - '20'
        x-secrets-engine-version:
          - 2.172.0
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/teams/1119853/team_memberships?cursor=&per_page=20&is_team_leader=False
    response:
      body:
        string: '[{"id":1252367,"team_id":1119853,"member_id":1884194,"is_team_leader":false,"team_permission":"cannot_manage","incident_permission":"full_access"},{"id":1252368,"team_id":1119853,"member_id":1884195,"is_team_leader":false,"team_permission":"cannot_manage","incident_permission":"full_access"},{"id":1252369,"team_id":1119853,"member_id":1884196,"is_team_leader":false,"team_permission":"cannot_manage","incident_permission":"full_access"}]'
      headers:
        Content-Type:
          - application/json
        allow:
          - GET, POST, HEAD, OPTIONS
        link:
          - ''
        x-app-version:
          - v2.657.0
        x-per-page:
          - '20'
        x-secrets-engine-version:
          - 2.172.0
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: DELETE
      uri: https://api.gitguardian.com/v1/teams/1119853/team_memberships/1252367
    response:
      body:
        string: ''
      headers:
        allow:
          - PUT, PATCH, DELETE, OPTIONS
        x-app-version:
          - v2.657.0
        x-secrets-engine-version:
          - 2.172.0
      status:
        code: 204
        message: No Content
version: 1
