interactions:
  - request:
      body: "0\r\n\r\n"
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
      method: GET
      uri: https://api.gitguardian.com/v1/members
    response:
      body:
        string:
          '[{"id":6,"role":"manager","access_level":"manager","email":"toto@gg.com","name":"toto
          tata","created_at":"2019-07-15T12:14:14.245000Z","last_login":"2024-12-03T09:29:43.181169Z","active":true}]'
      headers:
        Allow:
          - GET, HEAD, OPTIONS
        Content-Type:
          - application/json
        Link:
          - ''
        X-App-Version:
          - dev
        X-Per-Page:
          - '20'
        X-SCA-Engine-Version:
          - 2.2.0
        X-Secrets-Engine-Version:
          - 2.127.0
      status:
        code: 200
        message: OK
version: 1
