interactions:
  - request:
      body: '{"user": {"hostname": "toto-laptop", "username": "toto", "machine_id":
        "1234567890", "user_email": "toto@gitguardian.com"}, "discovery_duration": 0.5,
        "servers": [{"name": "mcp-server-1", "display_name": null, "tools": [], "resources":
        [], "prompts": [], "configurations": [{"name": "mcp-configuration-1", "agent":
        "cursor", "scope": "user", "transport": "http", "project": null, "command":
        null, "args": [], "env": {}, "url": "https://mcp-server-1.com", "headers": {}}]}]}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/agent-activity/discovery
    response:
      body:
        string: '{"user":{"hostname":"toto-laptop","username":"toto","machine_id":"1234567890","user_email":"toto@gitguardian.com"},"servers":[{"name":"https://mcp-server-1.com","display_name":"","tools":[],"resources":[],"prompts":[],"configurations":[{"name":"mcp-configuration-1","agent":"cursor","scope":"user","transport":"http","project":null,"command":null,"args":[],"env":{},"url":"https://mcp-server-1.com","headers":{}}]}],"discovery_duration":0.5}'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - dev
        X-Secrets-Engine-Version:
          - 2.161.0
      status:
        code: 200
        message: OK
version: 1
