interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/members?access_level=manager
    response:
      body:
        string:
          '[{"id":17,"role":"manager","access_level":"manager","email":"henri.delateamsecretetducorealerting@gg.com","name":"Henri
          De la team secret et du core alerting","created_at":"2024-12-12T17:07:32.636754Z","last_login":null,"active":true}]'
      headers:
        Allow:
          - GET, HEAD, OPTIONS
        Content-Type:
          - application/json
        Link:
          - ''
        X-App-Version:
          - dev
        X-Per-Page:
          - '20'
        X-SCA-Engine-Version:
          - 2.2.0
        X-Secrets-Engine-Version:
          - 2.127.0
      status:
        code: 200
        message: OK
  - request:
      body: '{"access_level": "member", "active": false}'
      headers:
        Content-Type:
          - application/json
      method: PATCH
      uri: https://api.gitguardian.com/v1/members/17
    response:
      body:
        string:
          '{"id":17,"role":"member","access_level":"member","email":"henri.delateamsecretetducorealerting@gg.com","name":"Henri
          De la team secret et du core alerting","created_at":"2024-12-12T17:07:32.636754Z","last_login":null,"active":false}'
      headers:
        Allow:
          - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - dev
        X-SCA-Engine-Version:
          - 2.2.0
        X-Secrets-Engine-Version:
          - 2.127.0
      status:
        code: 200
        message: OK
version: 1
